/* Import Files Here */
@import url("https://fonts.googleapis.com/css?family=Unica+One|Vollkorn");
.u-clearfix {
  zoom: 1;
}
.u-clearfix:after,
.u-clearfix:before {
  content: "";
  display: table;
}
.u-clearfix:after {
  clear: both;
}
.u-textCenter {
  text-align: center !important;
}
.u-title {
  border-bottom: 1px solid #999;
}
.u-fl {
  float: left !important;
}
.u-fr {
  float: right !important;
}
.u-clearboth {
  clear: both;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
@media print {
  body {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14pt;
    line-height: 1.45;
    font-family: Garamond, "Times New Roman", serif;
    color: #000;
    background: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    font-family: "Helvetica", Arial, sans-serif;
  }
  h1 {
    font-size: 36pt;
    line-height: 1.25em;
  }
  h2 {
    font-size: 24pt;
    line-height: 1.25em;
  }
  h3 {
    font-size: 18pt;
    line-height: 1.25em;
  }
  h4,
  h5,
  h6 {
    font-size: 14pt;
    line-height: 1.25em;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  code {
    font: 12pt Courier, 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  }
  blockquote {
    margin: 1.2em;
    padding: 1em;
    font-size: 24pt;
    line-height: 1.45833333em;
    font-style: italic;
  }
  hr {
    background-color: #ccc;
  }
  img {
    float: left;
    margin: 1em 1.5em 1.5em 0;
    max-width: 100% !important;
  }
  a img {
    border: none;
  }
  a:link,
  a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
    color: #333;
  }
  a:link[href^="http://"]:after,
  a[href^="http://"]:visited:after {
    content: " (" attr(href) ") ";
    font-size: 90%;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="http://"] {
    color: #000;
  }
  a[href$=".jpg"]:after,
  a[href$=".jpeg"]:after,
  a[href$=".gif"]:after,
  a[href$=".png"]:after {
    content: " (" attr(href) ") ";
    display: none;
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  table {
    margin: 1px;
    text-align: left;
  }
  th {
    border-bottom: 1px solid #333;
    font-weight: bold;
  }
  td {
    border-bottom: 1px solid #333;
  }
  th,
  td {
    padding: 4px 10px 4px 0;
  }
  tfoot {
    font-style: italic;
  }
  caption {
    background: #fff;
    margin-bottom: 2em;
    text-align: left;
  }
  thead {
    display: table-header-group;
  }
  img,
  tr {
    page-break-inside: avoid;
  }
}
section,
article,
header,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  padding: 0.1px 0;
}
html {
  font-family: "Unica One", Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 1rem;
  line-height: 1.7em;
}
@media (min-width: 415px) {
  html {
    font-size: calc( 1rem + (1.125 - 1) * ((100vw - 415px) / (416 - 415)) );
  }
}
@media (min-width: 416px) {
  html {
    font-size: 1.125rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
p,
blockquote,
pre,
address,
dl,
ol,
ul,
table {
  margin-bottom: 1.7em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unica One", Helvetica, sans-serif;
  font-weight: 400;
  color: #fff;
  clear: both;
}
h1 {
  font-size: 2.321199162695051rem;
  margin-top: 0.915475084668197em;
  line-height: 1.098570101601837em;
  margin-bottom: 0.183095016933639em;
}
@media (min-width: 415px) {
  h1 {
    font-size: calc( 2.321199162695051rem + (2.611349058031933 - 2.321199162695051) * ((100vw - 415px) / (416 - 415)) );
  }
}
@media (min-width: 416px) {
  h1 {
    font-size: 2.611349058031933rem;
    margin-top: 0.915475084668197em;
    line-height: 1.098570101601836em;
    margin-bottom: 0.183095016933639em;
  }
}
h2 {
  font-size: 1.96141695071709rem;
  margin-top: 1.083400446408452em;
  line-height: 1.300080535690142em;
  margin-bottom: 0.548093696983722em;
}
@media (min-width: 415px) {
  h2 {
    font-size: calc( 1.96141695071709rem + (2.206594069556726 - 1.96141695071709) * ((100vw - 415px) / (416 - 415)) );
  }
}
@media (min-width: 416px) {
  h2 {
    font-size: 2.206594069556726rem;
    margin-top: 1.083400446408452em;
    line-height: 1.300080535690143em;
    margin-bottom: 0.511269962794608em;
  }
}
h3 {
  font-size: 1.657400414574315rem;
  margin-top: 1.282128314506174em;
  line-height: 1.538553977407409em;
  margin-bottom: 0.720572396508325em;
}
@media (min-width: 415px) {
  h3 {
    font-size: calc( 1.657400414574315rem + (1.864575466396104 - 1.657400414574315) * ((100vw - 415px) / (416 - 415)) );
  }
}
@media (min-width: 416px) {
  h3 {
    font-size: 1.864575466396104rem;
    margin-top: 1.282128314506174em;
    line-height: 1.538553977407409em;
    margin-bottom: 0.669000537218648em;
  }
}
h4 {
  font-size: 1.400505962399693rem;
  margin-top: 1.517308784861527em;
  line-height: 1.820770541833832em;
  margin-bottom: 0.953502024817376em;
}
@media (min-width: 415px) {
  h4 {
    font-size: calc( 1.400505962399693rem + (1.575569207699655 - 1.400505962399693) * ((100vw - 415px) / (416 - 415)) );
  }
}
@media (min-width: 416px) {
  h4 {
    font-size: 1.575569207699655rem;
    margin-top: 1.517308784861526em;
    line-height: 1.82077054183383em;
    margin-bottom: 0.881275328390146em;
  }
}
h5 {
  font-size: 1.183429745443173rem;
  margin-top: 1.795628349027366em;
  line-height: 2.154754018832838em;
  margin-bottom: 0.359125669805473em;
}
@media (min-width: 415px) {
  h5 {
    font-size: calc( 1.183429745443173rem + (1.33135846362357 - 1.183429745443173) * ((100vw - 415px) / (416 - 415)) );
  }
}
@media (min-width: 416px) {
  h5 {
    font-size: 1.33135846362357rem;
    margin-top: 1.795628349027365em;
    line-height: 2.154754018832838em;
    margin-bottom: 0.359125669805473em;
  }
}
h6 {
  font-size: 1rem;
  margin-top: 2.125em;
  line-height: 2.549999999999999em;
  margin-bottom: 2.55em;
}
@media (min-width: 415px) {
  h6 {
    font-size: calc( 1rem + (1.125 - 1) * ((100vw - 415px) / (416 - 415)) );
  }
}
@media (min-width: 416px) {
  h6 {
    font-size: 1.125rem;
    margin-top: 2.125em;
    line-height: 2.549999999999999em;
    margin-bottom: 0.85em;
  }
}
blockquote {
  font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
}
pre {
  padding: 0.85em;
  margin-bottom: 1.7em;
}
pre code {
  padding: 0;
}
code {
  font-family: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
  padding: 0.085em 0.255em;
  line-height: 0;
}
big,
small,
sub,
sup {
  line-height: 0;
}
abbr,
acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help;
}
address {
  font-style: normal;
}
dt {
  color: #fff;
  font-weight: bold;
}
ul {
  padding-left: 1.1em;
}
ol {
  padding-left: 1.4em;
}
fieldset {
  padding: 0.85em 1.7em 1.7em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 3.211111111111111em;
}
@media (min-width: 416px) {
  fieldset {
    margin-bottom: 0.236111111111111em;
  }
}
fieldset button,
fieldset input[type="submit"] {
  margin-bottom: 0;
}
legend {
  color: #fff;
  font-weight: bold;
}
label {
  display: block;
  padding-bottom: 0.2125em;
  margin-bottom: 3.352777777777778em;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  max-width: 100%;
  padding: 0.425em;
  font-size: 1rem;
  margin-bottom: 6.138888888888888em;
}
@media (min-width: 415px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: calc( 1rem + (1.125 - 1) * ((100vw - 415px) / (416 - 415)) );
  }
}
@media (min-width: 416px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    font-size: 1.125rem;
    margin-bottom: 1.747222222222222em;
  }
}
input[type="submit"],
button {
  display: block;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.425em 1.7em;
  margin-bottom: -0.991666666666667em;
}
@media (min-width: 415px) {
  input[type="submit"],
  button {
    font-size: calc( 1rem + (1.125 - 1) * ((100vw - 415px) / (416 - 415)) );
  }
}
@media (min-width: 416px) {
  input[type="submit"],
  button {
    font-size: 1.125rem;
    margin-bottom: 1.275em;
  }
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 9.255555555555556em;
}
@media (min-width: 416px) {
  table {
    margin-bottom: 6.988888888888888em;
  }
}
th {
  text-align: left;
  color: #fff;
  padding: 0.2125em 0.85em;
}
@media (min-width: 416px) {
  th {
    padding: 0.425em 0.85em;
  }
}
td {
  padding: 0.2125em 0.85em;
}
@media (min-width: 416px) {
  td {
    padding: 0.425em 0.85em;
  }
}
p {
  font-family: "Vollkorn", "Times New Roman", Times, serif;
  color: #9e7f2e;
}
a {
  color: $blue;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body {
  font-size: 1rem;
  color: #fff;
  font-family: "Unica One", Helvetica, sans-serif;
}
img {
  max-width: 100%;
}
.Button {
  background: transparent;
  border: none;
  border: 1px solid #fff;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
  padding: 15px 70px;
  text-transform: uppercase;
  text-decoration: none;
}
.Button:hover {
  background-color: rgba(255,255,255,0.6);
}
.Button--big {
  font-size: 1.75em;
}
.NavList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.5s cubic-bezier(0, 1.05, 0, 1);
  transition: all 0.5s cubic-bezier(0, 1.05, 0, 1);
}
@media only screen and (max-width: 57.8125em) {
  .NavList {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
  }
}
.NavList.isActive {
  max-height: 500px;
  -webkit-transition: all 0.5s cubic-bezier(0, 1.05, 0, 1);
  transition: all 0.5s cubic-bezier(0, 1.05, 0, 1);
}
.NavList-item {
  display: block;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid rgba(255,255,255,0.6);
}
.NavList-item:last-child {
  border-bottom: 1px solid rgba(255,255,255,0.6);
}
.NavList-item:hover {
  background-color: rgba(255,255,255,0.6);
}
.NavList-link {
  text-decoration: none;
  color: #fff;
  display: block;
  text-transform: uppercase;
  font-size: 1.5em;
}
.HeroSection {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 20px 0;
  background-image: url("../assets/images/HeroImage.jpg");
  background-size: cover;
  min-height: 100vh;
  text-align: center;
}
.HeroSection-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 4.1875em;
  text-transform: uppercase;
  display: block;
  letter-spacing: 4px;
}
.HeroSection-title:after {
  content: '';
  display: block;
  margin-top: 20px;
  height: 2px;
  width: 20%;
  margin: 0 auto;
  background-color: #fff;
}
.HeroSection-tagline {
  display: block;
  margin-bottom: 10%;
  font-family: "Vollkorn", "Times New Roman", Times, serif;
  font-size: 1.5625em;
}
.HeroSection-button {
  margin-bottom: 10%;
}
.HeroSection-icons {
  bottom: 10px;
  font-family: "Vollkorn", "Times New Roman", Times, serif;
  text-align: left;
}
.HeroSection-icons span {
  display: block;
}
.HeroSection-icons span i {
  margin-right: 15px;
}
.GenericSection {
  padding: 0 2em;
}
.GenericSection-title {
  text-transform: uppercase;
  font-size: 4.1875em;
  word-wrap: break-word;
}
@media only screen and (max-width: 57.8125em) {
  .GenericSection-title {
    font-size: 3.75em;
  }
}
.Menu-tagline {
  color: #9e7f2e;
  font-size: 1.375em;
}
.Menu-tagline:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #9e7f2e;
}
.Menu-article {
  float: left;
  width: calc(50% - 0px);
  margin: 0 0px 0 0;
}
@media only screen and (max-width: 57.8125em) {
  .Menu-article {
    width: 100%;
    float: none;
  }
}
.Menu-article--right {
  float: right;
  width: calc(50% - 0px);
  margin: 0 0 0 0px;
  text-align: right;
}
@media only screen and (max-width: 57.8125em) {
  .Menu-article--right {
    width: 100%;
    float: none;
    text-align: left;
  }
}
.Menu-articleTitle {
  font-size: 26;
}
.Menu-item {
  margin-bottom: 20px;
}
.Menu-itemTitle {
  font-size: 1.375em;
  text-transform: uppercase;
}
.Menu-itemDesc {
  color: #9e7f2e;
  text-transform: uppercase;
}
.Layout {
  margin-bottom: 1.875em;
}
.Wrapper {
  *zoom: 1;
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
/*Between tablet and 1210px*/
}
.Wrapper:before{/*Between tablet and 1210px*/
  content: '';
  display: table;
}
.Wrapper:after{/*Between tablet and 1210px*/
  content: '';
  display: table;
  clear: both;
}
.Wrapper:before{/*Between tablet and 1210px*/
  content: '';
  display: table;
}
.Wrapper:after{/*Between tablet and 1210px*/
  content: '';
  display: table;
  clear: both;
}
@media only screen and (min-width: 26em) and (max-width: 75.625em) {
  .Wrapper {
    padding: 0 2em;
  }
}
@media only screen and (max-width: 25em) {
  .Wrapper {
    padding: 0 1.5em;
  }
}
.Header {
  float: left;
  width: calc(30% - 0px);
  margin: 0 0px 0 0;
  padding-top: 20px;
  position: fixed;
  height: 100%;
  background-color: #212020;
  text-align: center;
}
@media only screen and (max-width: 57.8125em) {
  .Header {
    width: 100%;
    height: auto;
    float: none;
    position: static;
    padding: 20px 0;
  }
}
.site-logo {
  display: inline-block;
  width: 80%;
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 57.8125em) {
  .site-logo {
    display: none;
  }
}
.ToggleMenu {
  display: none;
}
@media only screen and (max-width: 57.8125em) {
  .ToggleMenu {
    cursor: pointer;
    display: block;
    font-size: 1.5625em;
    float: right;
    margin-right: 10px;
  }
}
.Footer {
  background-color: #212020;
  color: #fff;
  padding: 20px 0;
}
.Footer-icons {
  float: right;
}
.Footer-icons i {
  margin-right: 20px;
  font-size: 1.125em;
  color: #9e7f2e;
}
@media only screen and (min-width: 65.625em) {
  .Aside {
    width: calc(99.99% * 1/3 - (30px - 30px * 1/3));
  }
  .Aside:nth-child(n){
    float: left;
    margin-right: 30px;
    clear: none;
  }
  .Aside:last-child{
    margin-right: 0;
  }
  .Aside:nth-child(3n){
    margin-right: 0;
  }
  .Aside:nth-child(3n + 1){
    clear: left;
  }
}
.Main {
  float: right;
  width: calc(70% - 0px);
  margin: 0 0 0 0px;
  background-color: #262626;
}
@media only screen and (max-width: 57.8125em) {
  .Main {
    width: 100%;
    float: none;
  }
}
#map {
  width: 100%;
  height: 500px;
}
